<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>UltraBridge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
    <script>
        function editButtonOnClick () {
            document.getElementById("input_acc").readOnly = false;
            document.getElementById("input_pwd").readOnly = false;
        }
        function submitButtonOnClick () {
            let acc_value = document.getElementById("input_acc").value ;
            let pwd_value = document.getElementById("input_pwd").value;
            if () {

            }
        }
    </script>
</head>

<body>
    <div class="container">
        <%- include('partials/navbar') %>
        <div>
            <h2><%= mac %></h2>
            <form action="<%= mac %>/rebridge" method="post">
                <p>
                    <input type="button" name="rebidge" value="rebridge">
                </p>
            </form>
            <form action="<%= mac %>/register" method="post">
                <p>
                    Account: <input type="text" name="acc" placeholder="account" value="<%= acc %>" readonly/>
                </p>
                <p>
                    Password: <input type="password" name="pwd" placeholder="password" value="" readonly/>
                </p>
                <p>
                    <input type="submit" value="Submit" />
                    <input type="button" value="edit" onclick="editButtonOnClick()"/>
                </p>
                <p>
                    <input type="submit" value="remove" formaction="<%= mac %>/remove"/>
                </p>

            </form>

            <hr>
        </div>
        <%- include('partials/footer') %>
    </div>
</body>

</html>
