<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HomeBridge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <style>
	html {font-size: 2.4em;}

        body {
		font-size: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .jumbotron {
          margin-top: 5px;
        }
    </style>
    <script type="text/javascript">
        function rescanButtonOnClick () {
            location.reload();
        }
    </script>
</head>

<body class="container-fluid">
<%- include('partials/navbar') %>
<div class="jumbotron">
    <h1>HomeBridge</h1>
    <p class="lead">Select gateway below and submit account and password to start bridging Zwave to Apple HomeKit..</p>
</div>
    <div class="list-group">
      <% gateway_list.forEach(function(gateway){ %>
	<a href="/gateway/<%= gateway.mac %>" class="list-group-item list-group-item-action flex-column align-items-start">
		<h5 class=""mb-1>Gateway <small><%= gateway.mac %></small></h5>
	  <ul>
		  <li>
	  		ip address:<%= gateway.ip %>
		  </li>
		  <li class="
			  <% if (gateway.is_registered) { %>
				text-success
			       <% } else { %>
				text-danger
			       <% } %>">registered: <%= gateway.is_registered %>
		</li>
		<li class="
			  <% if (gateway.paired) { %>
				text-success
			       <% } else { %>
				text-danger
			       <% } %>">paired: <%= gateway.paired %>
		</li>
		<li class="
			  <% if (gateway.reachable) { %>
				text-success
			       <% } else { %>
				text-danger
			       <% } %>">reachable: <%= gateway.reachable %>
		</li>
	  </ul>
	</a>
      <% }) %>
    </div>
</body>

</html>
